# Default values for medicine-inventory
namespace: tom-wakhungu

frontend:
  name: frontend
  replicas: 2
  image:
    repository: 024848484634.dkr.ecr.eu-west-1.amazonaws.com/tom-wakhungu/frontend
    tag: latest
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 80
    targetPort: 8080
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 256Mi

backend:
  name: backend
  replicas: 2
  image:
    repository: 024848484634.dkr.ecr.eu-west-1.amazonaws.com/tom-wakhungu/backend
    tag: latest
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8000
    targetPort: 8000
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 70

database:
  secretName: db-credentials

ingress:
  enabled: true
  className: nginx
  host: tom-wakhungu.capstone.company.com
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"

serviceAccount:
  create: true
  name: medicine-inventory-sa

networkPolicy:
  enabled: true

rbac:
  create: true