apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: medicine-inventory-ingress
  namespace: tom-wakhungu
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  ingressClassName: nginx
  rules:
    - host: tom-wakhungu.capstone.tiberbu.com
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 8000

          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
